In [1]:
import requests
import zipfile
import io
import subprocess
import os

import pandas as pd

In [2]:
# Definir urls y rutas
zip_url = "https://www.miteco.gob.es/content/dam/miteco/es/agua/temas/evaluacion-de-los-recursos-hidricos/boletin-hidrologico/Historico-de-embalses/BD-Embalses.zip"
zip_path = "../data/BD-Embalses.zip"
extract_dir = "../data/embalses_data"
mdb_path = "../data/embalses_data/BD-Embalses.mdb"
csv_path = "../files/embalses_historico.csv"
tabla_principal = "T_Datos Embalses 1988-2026"

In [3]:
# Descargar el ZIP
print("Descargando ZIP desde el ministerio...")
r = requests.get(zip_url)
with open(zip_path, "wb") as f:
    f.write(r.content)
print("ZIP descargado correctamente")

Descargando ZIP desde el ministerio...
ZIP descargado correctamente

In [4]:
# Extraer el .mdb
print("Extrayendo .mdb...")
os.makedirs(extract_dir, exist_ok=True)
with zipfile.ZipFile(zip_path, "r") as zip_ref:
    zip_ref.extractall(extract_dir)
print(f".mdb extraído en '{extract_dir}'")

Extrayendo .mdb...
.mdb extraído en '../data/embalses_data'

In [5]:
# Exportar la tabla a CSV
os.makedirs(os.path.dirname(csv_path), exist_ok=True)
print(f"Exportando tabla a CSV en {csv_path} ...")
with open(csv_path, "w") as f:
    subprocess.run(["mdb-export", mdb_path, tabla_principal], stdout=f, check=True)
print(f"Tabla exportada a '{csv_path}'")

Exportando tabla a CSV en ../files/embalses_historico.csv ...
Tabla exportada a '../files/embalses_historico.csv'

In [6]:
df = pd.read_csv(csv_path)
df.head()

,AMBITO_NOMBRE,EMBALSE_NOMBRE,FECHA,AGUA_TOTAL,AGUA_ACTUAL,ELECTRICO_FLAG
0,Miño - Sil,Albarellos,01/05/88 00:00:00,"91,00","32,00",1
1,Miño - Sil,Albarellos,01/12/88 00:00:00,"91,00","44,00",1
2,Miño - Sil,Albarellos,01/19/88 00:00:00,"91,00","42,00",1
3,Miño - Sil,Albarellos,01/26/88 00:00:00,"91,00","43,00",1
4,Miño - Sil,Albarellos,02/02/88 00:00:00,"91,00","65,00",1

In [7]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 710749 entries, 0 to 710748
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   AMBITO_NOMBRE   710749 non-null  str
 1   EMBALSE_NOMBRE  710749 non-null  str
 2   FECHA           710749 non-null  str
 3   AGUA_TOTAL      710747 non-null  str
 4   AGUA_ACTUAL     710747 non-null  str
 5   ELECTRICO_FLAG  710749 non-null  int64
dtypes: int64(1), str(5)
memory usage: 32.5 MB