In [6]:
import geopandas as gpd
import pandas as pd

In [12]:
shp_path = "../data/shapefile/A3CUENCAS.shp"
gdf_cuencas = gpd.read_file(shp_path)
gdf_cuencas.head()

,COD_CUENCA,NOM_CUENCA,COD_DEMAR,Shape_Leng,Shape_Area,geometry
0,014001,NaN,14,10.236629,0.479047,"MULTIPOLYGON (((-8.93948 43.23547, -8.94022 43..."
1,016002,NaN,16,3.288684,0.111070,"POLYGON ((-5.13485 43.48181, -5.13249 43.48015..."
2,016003,NaN,16,1.465043,0.031620,"POLYGON ((-7.05221 43.47158, -7.05217 43.47165..."
3,016004,NaN,16,2.357441,0.090520,"POLYGON ((-6.69885 43.55733, -6.69882 43.55787..."
4,016005,RIO NALON,16,5.064885,0.543065,"POLYGON ((-6.07575 43.56372, -6.07502 43.55951..."

In [13]:
gdf_cuencas.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   COD_CUENCA  118 non-null    str
 1   NOM_CUENCA  54 non-null     str
 2   COD_DEMAR   118 non-null    str
 3   Shape_Leng  118 non-null    float64
 4   Shape_Area  118 non-null    float64
 5   geometry    118 non-null    geometry
dtypes: float64(2), geometry(1), str(3)
memory usage: 5.7 KB

In [14]:
# dataset de embalses
df_embalses = pd.read_csv("../files/embalses_historico.csv")

# Normalizamos nombres
gdf_cuencas["NOM_CUENCA"] = gdf_cuencas["NOM_CUENCA"].str.strip().str.upper()
df_embalses["AMBITO_NOMBRE"] = df_embalses["AMBITO_NOMBRE"].str.strip().str.upper()

# Merge para unir shapefile con embalses
df_embalses_geo = df_embalses.merge(gdf_cuencas[["NOM_CUENCA","geometry"]], 
                                    left_on="AMBITO_NOMBRE", 
                                    right_on="NOM_CUENCA", 
                                    how="left")
df_embalses_geo.head()

,AMBITO_NOMBRE,EMBALSE_NOMBRE,FECHA,AGUA_TOTAL,AGUA_ACTUAL,ELECTRICO_FLAG,NOM_CUENCA,geometry
0,MIÑO - SIL,Albarellos,01/05/88 00:00:00,"91,00","32,00",1,NaN,None
1,MIÑO - SIL,Albarellos,01/12/88 00:00:00,"91,00","44,00",1,NaN,None
2,MIÑO - SIL,Albarellos,01/19/88 00:00:00,"91,00","42,00",1,NaN,None
3,MIÑO - SIL,Albarellos,01/26/88 00:00:00,"91,00","43,00",1,NaN,None
4,MIÑO - SIL,Albarellos,02/02/88 00:00:00,"91,00","65,00",1,NaN,None

In [15]:
df_embalses_geo.info()

<class 'pandas.DataFrame'>
RangeIndex: 710375 entries, 0 to 710374
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   AMBITO_NOMBRE   710375 non-null  str
 1   EMBALSE_NOMBRE  710375 non-null  str
 2   FECHA           710375 non-null  str
 3   AGUA_TOTAL      710373 non-null  str
 4   AGUA_ACTUAL     710373 non-null  str
 5   ELECTRICO_FLAG  710375 non-null  int64
 6   NOM_CUENCA      0 non-null       str
 7   geometry        0 non-null       geometry
dtypes: geometry(1), int64(1), str(6)
memory usage: 43.4 MB

In [18]:
gdf_cuencas["NOM_CUENCA"].unique()

<StringArray>
[                  nan,           'RIO NALON',           'RIO NAVIA',
              'RIO EO',            'RIO MINO',           'RIO SELLA',
         'RIO NERVION',           'RIO DUERO',             'RIO PAS',
         'RIO ANLLONS',     'RIA DEL NERVION',        'RIA DEL ORIA',
             'RIO TER',       'RIO LLOBREGAT',           'RIO LIMIA',
         'RIO TORDERA',           'RIO BESOS',        'RIO FRANCOLI',
            'RIO TAJO',           'RIO TURIA',         'RIO MIJARES',
           'RIO JUCAR',          'RIO SERPIS',        'RIO VINALOPO',
          'RIO SEGURA',    'RIO GUADALQUIVIR',         'RIO BARBATE',
          'RIO FLUVIA',         'RIO BIDASOA', 'RAMBLA DEL AGUADERO',
           'RIO VELEZ',            'RIO ORIA',       'RIO MONTNEGRE',
  'RAMBLA DEL ALBUJON',          'RIO XALLAS',            'RIO EBRO',
   'RIO DE SAN MIGUEL',           'RIO ODIEL',        'RIO PALANCIA',
            'RIO MUGA',         'RIO PIEDRAS',       'RIO ALMANZORA',
   'RIO DE AGUAS (EL)',        'RIO BAYARCAL',     'RAMBLA DEL POYO',
            'RIO ULLA',       'RIO GUADALFEO',            'RIO SAJA',
     'RIO GUADALHORCE',            'RIO DEVA',        'RIO GUADIANA',
            'RIO ASON',          'RIO TAMBRE',        'RIO GUADIARO',
       'RIO GUADALETE']
Length: 55, dtype: str

In [11]:
df_embalses_geo["AMBITO_NOMBRE"].unique()

<StringArray>
[                     'MIÑO - SIL',                           'DUERO',
                            'TAJO',                        'GUADIANA',
                    'GUADALQUIVIR',    'CUENCA MEDITERRÁNEA ANDALUZA',
                          'SEGURA',                           'JÚCAR',
                            'EBRO',    'CUENCAS INTERNAS DE CATALUÑA',
                   'GALICIA COSTA',           'CANTÁBRICO OCCIDENTAL',
             'CANTÁBRICO ORIENTAL', 'CUENCAS INTERNAS DEL PAÍS VASCO',
               'GUADALETE-BARBATE',          'TINTO, ODIEL Y PIEDRAS']
Length: 16, dtype: str

In [ ]:
# Claves del shapefile
# Valores: AMBITO_NOMBRE de tus embalses
cuenca_map = {
    'RIO MINO': 'MIÑO - SIL',
    'RIO NERVION': 'CANTÁBRICO ORIENTAL',
    'RIO DUERO': 'DUERO',
    'RIO TAJO': 'TAJO',
    'RIO GUADIANA': 'GUADIANA',
    'RIO GUADALQUIVIR': 'GUADALQUIVIR',
    'RIO SEGURA': 'SEGURA',
    'RIO JUCAR': 'JÚCAR',
    'RIO EBRO': 'EBRO',
    'RIO GUADALETE': 'GUADALETE-BARBATE',
    'RIO TINTO': 'TINTO, ODIEL Y PIEDRAS',
    # Añadir el resto según corresponda
}